[2017-04-11 13:01] amitbravo opened #1 "Document files"
Hello, instead of music files, I need to find pdf, doc etc files in entire storage , I am using RNFetchBlob's FS e.g. RNFetchBlob.fs.stat but I have need to use loop over and over again , because it brings only one level files list and then if there is any directory , you loop again to go in and so on, so I am just wondering if somehow using this dependancy there is anything I can update to bring

[2017-04-17 13:26] GGomez99 opened #2 "undefined is not an object (evaluating 'SongsCollection.getAll')"
I'm trying to use your package, but when I call get() function, I have this :
<img src="https://cloud.githubusercontent.com/assets/16463228/25089898/98689d02-2380-11e7-8b17-0e5e6eb7cfa1.png" width="500">

I'm using react-native 0.43.3 and I'm on an Android 6.0.
Here is my code from the component where I use it:
[code]

[2017-04-17 16:30] GGomez99 commented on #2
I found the solution by typing that in a shell :
`react-native link`
and reloading the app.
I think that I didn't added the node module the right way.

[2017-04-17 16:30] #2 closed, assigned to nobody

[2017-04-25 11:35] themakerman opened #3 "Is there some way to scan the files faster and when will this library support iOS?"
First of all this library is awesome and works very well. The only problem is speed. Is there someway to store the data in cache so that the array loads faster?

[2017-05-17 05:58] cinder92 commented on #1
Hey @amitbravo this package is using `android.provider.MediaStore.Audio.Media.EXTERNAL_CONTENT_URI` that extract all songs files in device (SDCard and internal memory) you can try to change this, to get work as you want.

[2017-05-17 06:03] cinder92 commented on #3
Hey @themakerman at this time there is no way to store in cache first list of files, and for iOS version we are working on that!

[2017-05-25 04:06] ranjith29h opened #4 "getting error as "cannot read property 'getAll' of undefined""
Hi when i run the code as mentioned in your read.md it shows me error like "cannot read property 'getAll' of undefined"

[2017-06-07 13:07] themakerman commented on #3
@cinder92 Great.....Hope you do it soon....Really appreciate the affords you guys are making on RN. Can you just tell me an ETA if you have for iOS support?

[2017-06-10 03:51] cinder92 commented on #4
Hello, did you try to restart your all environment?

[2017-06-10 03:59] ranjith29h commented on #4
ya i tried it

[2017-06-23 05:37] cinder92 commented on #4
@ranjith29h  sorry for delay message, please try with this in command line `react-native link`

[2017-07-22 15:28] quangtruong16994 opened #5 "Song lyrics"
Can you get song lyrics?

[2017-08-05 07:47] sseengal opened #6 "Error: undefined is not an object( evaluating 'SongsCollection.getAll')"
Hi, trying to figure out what this error means

[2017-08-10 21:34] flarocca commented on #6
Hi, have you had some news related to this issue?
I'm facing the same problem.

[2017-08-15 16:55] cinder92 commented on #5
Hello, sorry for delay, yes we can, but i need some help in android

[2017-08-15 16:56] cinder92 commented on #6
Hello, sorry for delay, could you please tell me more about this error?

- Did you make `react-native link`
- Are you testing in real device?
- Are you testing in Android?

for now, this plugin only works on Android.

[2017-08-15 17:01] flarocca commented on #6
@cinder92 Thanks for answering.

In all of those cases the answer is "Yes". I haven't had enough time to dive into yet so I can't even suppose why nor what is causing the issue.

Would you like me to send you some more info about some file or env?

Again, thanks for replying.

[2017-08-15 19:38] cinder92 commented on #6
i will make an example asap, keep connected.

[2017-08-22 03:15] flarocca commented on #6
Hey, I think I figuredout where the problem is.

SongsCollection.java Line 138, BitmapFactory.decodeByteArray is returning null when the image does not exist.

I think you should check whether `songImage` is null or not.

[code]

Would you like me to make a PR?

[2017-08-31 20:38] themakerman opened #7 "How can i make MusicFiles.get() Asynchronous?"
The library is awesome but it has been really a pain when you execute MusicFiles.get() function as the UI thread hangs up due to processing. To overcome this i did tried using progressbar but its not working out. How can i make it Async??

[2017-09-07 18:51] casual-coder-25 commented on #6
@flarocca did you fixed it. because i am facing this issue and i added that condition and still i am getting the same issue.

[2017-09-07 18:59] flarocca commented on #6
@baalu06 Yes, but there might be another issue:

`setDatasource` fails if the file it is trying to read is **unreadable** so the path is correct, the file exists, but it cannot be opened.

Take at look at [one question I posted on StackOverflow](https://stackoverflow.com/questions/46029813/mediametadataretriever-setdatasourcenative-method-causes-runtimeexception-sta) that I've answered by myself.

[2017-09-07 19:23] casual-coder-25 commented on #6
@flarocca many thanks for quick reply. I will check that in stack. you can create separate branch, many struggle in this point.

[2017-09-07 19:30] flarocca commented on #6
@baalu06 Ok, Let me know if it works and I will create and push a new branch with those corrections.

[2017-09-07 19:31] casual-coder-25 commented on #6
@flarocca yes sure.

[2017-09-07 19:40] casual-coder-25 commented on #6
@flarocca how you debugged that java file from react native?

[2017-09-07 19:44] flarocca commented on #6
@baalu06, I think you can't. What I did was to create a new project using Android Studio and test it there.

[2017-09-07 19:47] casual-coder-25 commented on #6
oh ok thanks and there is already do while there still do we need to change it to while?

[2017-09-07 20:01] flarocca commented on #6
@baalu06 No, just add a `try/catch` inside.

[code]

[2017-09-07 20:42] flarocca commented on #6
@baalu06 By the way, Vote my question and answer up (in StackOverflow) please!!! Thanks!!!

[2017-09-08 20:12] casual-coder-25 commented on #6
@flarocca ha ha done. btw I didnt get any issue now and swell didnt get any result.:(

[2017-09-08 20:18] flarocca commented on #6
@baalu06 Are you using a real device or an emulator? Have you tried with a isolated Android Studio project? Have you set permissions in manifest?

[code]

in `android/app/src/main/AndroidManifest.xml`

[2017-09-08 20:33] casual-coder-25 commented on #6
@flarocca i will try with last line also.

[2017-09-09 02:43] flarocca opened #8 "SetDatasource Fixings"
@cinder92 I've made some fixings but I cant make a PR, would you mind to grant me access?

Thanks

[2017-09-09 02:44] cinder92 commented on #8
@flarocca of course buddy let me grant you access.

1 .- you need to `fork` this repository into your account
2 .- from your account you can make a `pull request` to this package

hope it helps!

[2017-09-09 02:49] cinder92 commented on #7
this is a nice question, i think i can make it run it in another `thread` in order to prevent UI blocking

[2017-09-09 02:50] cinder92 commented on #6
hey y'all PR are very welcome, sorry for delay.

[2017-09-10 08:07] themakerman commented on #7
@cinder92 Can you just tell me when will you be updating the code cause i am using this library on production app for music data retrieval which is the most important part and i am stuck now.

[2017-09-11 22:58] mrzjordan opened #9 "Attempt to invoke virtual method [Error]"
Trying to fetch all music in my local storage(Internal and SD card} in ComponentDidMount but my app is giving this error.
![Error](https://user-images.githubusercontent.com/19315604/30300401-e98a910c-976d-11e7-910a-123a65399cb0.png)

![My code here](https://user-images.githubusercontent.com/19315604/30300444-17dc68fa-976e-11e7-9dc4-2c9b947a44da.png)

react-native :0.48.2
wix-react-native-navigatio

[2017-09-12 05:38] cinder92 commented on #7
@themakerman PR are welcome :)

[2017-09-12 05:40] cinder92 commented on #6
Remember that in Android 6 , 7 an so on, you need to ask permissions in order to read and write external storage, this plugin WRITE and READ external and internal storage. i recommend, `https://github.com/lucasferreira/react-native-android-permissions`

[2017-09-14 18:22] themakerman commented on #9
@mnehal69 please check if react-native run-android is working when you add the library in your project.

[2017-09-14 19:06] themakerman opened #10 "[Remove @Override] Those who are facing compilation errors on RN 0.48"
![issue](https://user-images.githubusercontent.com/14818804/30449865-e37ebf8e-99c2-11e7-8d01-45da8dce2332.jpg)

[2017-09-15 06:01] cinder92 commented on #10
Thanks @themakerman this is only needed in case your version of RN is 0.29^

[2017-09-15 06:01] #10 closed, assigned to nobody

[2017-09-19 14:21] tymanchik1991 commented on #4
@cinder92 hi I have same issue. could you show what I need import in my MainApplication.java

because in my project when i do react-native-link its return error when try setup MainApplication

[2017-10-04 07:00] Spartan-Arun commented on #4
@cinder92 I have the same issue as ranjith . I tried react-native link command but no luck  your package its not working at all. could you share us a working sample if possible. Thanks in advance

[2017-10-22 15:52] themakerman opened #11 "JS Thread and UI Thread FPS drops to negative after the native module is called"
I have thoroughly checked and debugged my code. The same code works perfectly on iOS with another native module to retrieve music files. But on android as soon as i call this native module my app starts to lag and the FPS drops to 2-10 and some times even negative.

I don't know why is this happening? Are there many jumps across the RN bridge? cause i am sure module is rendering my app to slow dow

[2017-11-27 11:54] Madhukanth commented on #6
I am getting this error.

Null Pointer Exception when trying to compress Bitmap

Please help me to solve this

[2017-11-27 12:16] flarocca commented on #6
Just check that image is not null.
I will fork and send a PR as soon as I get some free time.

[2017-11-27 12:21] Madhukanth commented on #6
I think the image is null.
I have music files with no images...

And thank you for your reply....

[2017-11-27 12:43] Madhukanth commented on #6
This is my actual error.

In the console window,

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.graphics.Bitmap.compress(android.graphics.Bitmap$CompressFormat, int, java.io.OutputStream)' on a null object reference

I am using physical device do run.

i just added these code in the AndroidManifest.xml

<uses-permission android:name="android.permission.READ_EXTE

[2017-11-27 13:13] flarocca commented on #6
@Madhukanth that error is thrown because of the null image reference.

[2017-11-27 13:50] Madhukanth commented on #6
How could I handle that exception???
Is there any way to do it??
Please tell me...

[2017-11-27 14:00] flarocca commented on #6
https://github.com/cinder92/react-native-get-music-files/blob/master/android/src/main/java/com/dantecervantes/react/SongsCollection.java, Line 138.

Add a null-check for the image, take a look at my previous comments on this thread

[2017-11-27 14:02] Madhukanth commented on #6
Ok thank you so much.
I will take a look at it.

[2017-11-27 15:16] Madhukanth commented on #6
I tried...but failed.
I dont know java.
Can you please make a PR with correct code for SongsCollection.java???

[2017-11-27 15:28] cinder92 commented on #6
Sorry for maximum delay i will work into this issues, asap

[2017-11-27 15:35] Madhukanth commented on #6
Thank you...
Please look into it..

[2017-11-27 15:41] flarocca commented on #6
@cinder92 I will help this week, there two issues to fix, one of them is the null image and the other one, is to catch everything inside the loop, since one error should not prevent the rest to finalize successfully.

There is also a **Nice to have** related to how files are retrieved. I had am edge case with over 40 GB, and this process gets extremely slow and freezes the app. So we might want to

[2017-11-27 15:46] Madhukanth commented on #6
I can understand.
But don't know how to do it.
I will just wait for the solution.

Thank you for your reply.

[2017-11-28 13:07] flarocca commented on #6
@Madhukanth, I've created a new PR with some changes, but you can't update the package until it is merged and published. But you can copy/paste the code and test it. There are two files you need to copy:

- [module.js](https://github.com/cinder92/react-native-get-music-files/blob/master/module.js)
- [SongsCollection.java](https://github.com/cinder92/react-native-get-music-files/blob/master/android

[2017-11-28 13:13] Madhukanth commented on #6
Thank you so much.
I will use these files to process.

Again thank you for your kind work.

[2017-11-28 13:21] flarocca commented on #7
@themakerman I will be working on that soon.
I'm evaluating two different alternatives always working asynchronously in order to prevent the UI thread from blocking:

1. Return batches so that your callback will be called each 10 files (this could be for units, batch size or time) read.
2. Keep the same behavior as now and return all at once.

I think batching would be nicer and more effective, bu

[2017-11-28 16:21] Madhukanth commented on #6
Sorry...The same repeats again.

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.graphics.Bitmap.compress(android.graphics.Bitmap$CompressFormat, int, java.io.OutputStream)' on a null object reference

[2017-11-28 16:29] flarocca commented on #6
where did you get the code? Take it from the new PR I've created.
https://github.com/cinder92/react-native-get-music-files/pull/13

[2017-11-28 16:59] Madhukanth commented on #6
Yes...I used your files to change the existing code.
I changed the Songs collection.java and module.js with your PR.

But the same error repeats..

[2017-11-28 17:09] Madhukanth commented on #6
But it has done  something..it collected all the cover images and it's blur images to the sdcard..The list is present in the sdcard..

[2017-11-28 17:38] cinder92 commented on #7
@flarocca great job! I will be working on this package today in order to make this fixes and implement iOS version, keep in touch

[2017-11-28 17:41] #1 closed, assigned to nobody

[2017-11-28 18:26] flarocca commented on #7
Let me know if you need help.
I'll be working on doing this but asynchronously in order to avoid blocking the UI. Perhaps I could do some batching too.

[2017-11-28 18:55] #8 closed, assigned to nobody

[2017-11-29 04:48] cinder92 commented on #11
Hello, what is the native module for iOS that you are using? maybe, we can work with android based on that plugin

[2017-11-29 06:27] cinder92 commented on #11
Fixed in V2

[2017-11-29 06:27] #11 closed, assigned to nobody

[2017-11-29 06:27] cinder92 commented on #9
Fixed in V2

[2017-11-29 06:27] #9 closed, assigned to nobody

[2017-11-29 06:27] cinder92 commented on #7
Fixed in V2

[2017-11-29 06:28] cinder92 commented on #6
Fixed in V2

[2017-11-29 06:28] #6 closed, assigned to nobody

[2017-11-29 06:28] cinder92 commented on #5
Fixed in V2

[2017-11-29 06:28] #5 closed, assigned to nobody

[2017-11-29 06:28] cinder92 commented on #4
Fixed in V2

[2017-11-29 06:28] #4 closed, assigned to nobody

[2017-11-29 06:28] cinder92 commented on #3
Fixed in V2, and iOS development started :)

[2017-11-29 06:28] #3 closed, assigned to nobody

[2017-11-29 08:59] themakerman commented on #11
@cinder92 i am using react-native-itunes.
https://github.com/kadiks/react-native-itunes

Actually i am not familiar into native iOS objective C. If you have native experience and can port library to work with iOS then it will be great. Actually if that happens then my production app will be 100% code shared between both platforms.

[2017-11-29 09:14] themakerman commented on #7
@cinder92 @flarocca so have you implemented a callback for batching? Ideally this would be great to have so that we can update some component (eg: progressBar) to show users the progress of file scan.

[2017-11-29 12:22] flarocca commented on #7
No yet, but would be the target.

[2017-11-29 17:54] cinder92 commented on #7
We moved the songs retrieving to another thread that prevents ui blocking , you can put an activity indicator while songs retrieving ends

[2017-11-29 18:23] cinder92 commented on #11
That library only gets songs from iTunes , not from memory like our repository, and have many differences but we can use a part of that code in order to get same results

[2017-11-30 02:33] cinder92 commented on #3
@themakerman  now this plugin supports iOS, is the same as `react-native-itunes` api, hope it helps

[2017-12-01 07:54] themakerman commented on #7
@cinder92 yup thats what i am doing right now. @flarocca it would be good if we keep batching as the target as that would be considered real time status and great engineering :)

[2017-12-01 11:55] flarocca commented on #7
That would be nice!!!

[2017-12-02 07:52] cinder92 commented on #7
@themakerman please use last commit with, `batchNumber` option, for more info, please check docs :)

[2017-12-02 10:48] themakerman commented on #7
@cinder92 since it works on iOS as well now update the title of the library in readme. Currently says

react-native-get-music-files:
React Native package to get music files from local and sd for Android (only)

Great work. I am really excited to bump v2 to my production app. Will share the results with you. Thanks.

[2017-12-02 16:50] themakerman commented on #3
@cinder92 Great. Really thankful mate. Would love to share the app once done.

[2017-12-04 16:02] #7 closed, assigned to nobody

[2017-12-07 19:20] gaphu opened #14 "Promise: Unhandled promise rejection id 0,"
calling the function in android is sending unhandled promise rejection, along with the array of the songs in v^2.0.1 but then checked and worked with v2.0.0

[2017-12-17 17:26] banphlet opened #16 "App crashes."
My app crashes when ```getAll ``` function is called.
code am using
[code]

[2017-12-18 20:11] cinder92 commented on #16
Hello @banphlet thanks for reporting this issue, could you please tell me what is your platform? and what version of react-native are you using?

[2017-12-18 20:12] cinder92 commented on #14
Hello could you please check with latest commit in github? we just make a little change, and please tell me what is your platform, and react native version

[2017-12-18 20:19] banphlet commented on #16
am using  react-native 0.50.4. My platform is android

[2017-12-18 20:20] cinder92 commented on #16
What version of android?

[2017-12-18 20:20] banphlet commented on #16
android 4.2.2 on genymotion

[2017-12-18 20:22] cinder92 commented on #16
ok, could you please open your app with Android Studio, then run your app on genymotion, and then copy and paste here the error log?

[2017-12-18 20:24] banphlet commented on #16
ok let me do that.

[2017-12-19 08:46] banphlet commented on #16
logcat
[code]

[2017-12-19 09:14] themakerman commented on #14
@cinder92 Same error for me.
React Native version:  0.48.1
react-native-get-music-files version: 2.0.1
OS: Android 7.0

[2017-12-20 16:03] themakerman opened #17 "Change 'null' values to <unknown> as previous version"
Hey Dante,
To keep things same like previous version i suggest for all the fields that return null eg...if metadata of song has no author i think we should return <unknown> instead of returning null. Its a small change. Can you do the edit?

In real world scenario while making a music player lets say if the library returns <unknown> string instead of null it would be more easier to design the appl

[2017-12-20 16:27] themakerman commented on #14
@cinder92 isn't the new commit pushed to npm??

[2017-12-30 15:54] #17 closed, assigned to nobody

[2018-01-02 04:54] trananh2001 commented on #14
I have same issue.
React Native version: 0.50.4
react-native-get-music-files version: 2.0.1
OS: Android 4.4

[2018-01-02 10:11] CYB3RL1F3 opened #18 "[iOS] No callback response, Possible Unhandled Promise Rejection (id: 0)"
Hello,

I set up the library on the app I'm currently working on, but get this warning message : Possible Unhandled Promise Rejection (id: 0). I don't get any callback nor error...

Any clue?

I set in my info.plist the following key :

[code]

I well receive the permission ask, then nothing. Do I miss something to do ?

[2018-01-03 06:14] themakerman commented on #14
Time being use 2.0.0 version.

[2018-01-15 03:25] nirmalrizal commented on #16
I am also facing the same problem on my android 4.4

[2018-01-16 06:32] themakerman commented on #18
Use 2.0.0 for a while. @cinder92 is away i think. Use downgraded version till someone fixes it @CYB3RL1F3

[2018-01-17 02:57] thinhvo-groove opened #19 "Ony mp3 files supported"
I have tested this library, I found that this lib is only able to scan for mp3 files on Android MediaStore. Can you do something in the future to support all other kinds of sound files?

[2018-01-22 19:22] themakerman commented on #19
@flarocca Can we do something on this? @cinder92

[2018-01-22 21:14] flarocca commented on #19
I haven't had tume to take a look, but I'll do this week. What's your suggestion? What types of fikes would you like to include?

[2018-01-23 08:30] themakerman commented on #19
I think mp4,wav and .aac, most important for (apple) .alac would suffice. We can keep the end goal of supporting all these but for the initial commit we can go with .mp4 and .aac.

[2018-01-23 08:33] themakerman commented on #14
@flarocca i think latest commit is not available on npm? Can you take a look at this as well? Many people are facing this issue.

[2018-01-23 08:34] themakerman commented on #16
@nirmalrizal53 device name?

[2018-01-23 12:38] flarocca commented on #14
@themakerman That's right, but I can't publish to npm, just the owner.

[2018-01-23 15:24] thinhvo-groove commented on #19
Hi @flarocca!  yeah, as @themakerman mentioned !

[2018-01-23 15:27] thinhvo-groove commented on #18
@CYB3RL1F3 I took a look on codes and found that its Promise callback resolve and reject was swapped. You can go inside the lib to swap it back.

[2018-01-23 16:03] cinder92 commented on #18
Sorry guys, i have a lot of work, but i hope this weekend i can work with you, the error is in `index.js` line 9, is reversed, it must be `new Promise(resolve, reject)`, i will move it right now

[2018-01-23 16:05] cinder92 commented on #18
please, try it again, i just merged with master

[2018-01-23 16:06] cinder92 commented on #16
@banphlet did you put permissions for read and write external files in your manifest?

[2018-01-23 16:07] cinder92 commented on #14
@themakerman @flarocca i have updated the index.js file in master, please download and try again, it was a reversed callback names

[2018-01-23 16:20] flarocca commented on #14
Hi @cinder92, did you update the package on Npm as well? Thanks!!!

[2018-01-23 18:21] cinder92 commented on #19
hello guys, i need time to work on this again, let me check it :)

[2018-01-23 18:54] themakerman commented on #19
@cinder92 Hola Amigo. Welcome back after long time. By the way my music player is ready to be launched. I can release a beta and then if u guys support mp4 and others soon I can release an update.

[2018-01-23 18:55] themakerman commented on #18
@cinder92 Gracias.

[2018-01-23 18:56] cinder92 commented on #19
@themakerman of course! thats awesome! Gracias colega!

[2018-01-23 19:14] themakerman commented on #14
Yup npm more important.

[2018-01-24 02:58] #19 closed, assigned to nobody

[2018-01-24 07:53] thinhvo-groove commented on #18
@cinder92  thanks man!

[2018-01-24 09:42] thinhvo-groove opened #20 "Failed at RN 5.1"
We upgraded our project to RN 5.1, your lib was failed when running. Can you do something to support us?
Here the log

![screen shot 2018-01-24 at 4 40 31 pm](https://user-images.githubusercontent.com/31874938/35325175-843d1ec4-0125-11e8-82e7-08f50bca3a16.png)

[2018-01-25 02:45] #20 closed, assigned to nobody

[2018-01-25 04:21] thinhvo-groove commented on #16
@nirmalrizal53  On Android 6.0 and above you gotta manually grant permisson for reading and writing external files. Registing in manifest file is not enough.

[2018-01-25 08:59] themakerman commented on #16
@thinhvo-groove What more will you do that when you say registering manifest file is not enough?

[2018-02-21 18:03] themakerman commented on #19
@flarocca hey budd, anything on mp4 support? @cinder92

[2018-02-21 19:41] #18 closed, assigned to nobody

[2018-03-10 21:56] pepya2 opened #21 "Error: more than one library with package name 'com.reactlibrary'"
i think you should change package name to match your plugin's name..

[2018-03-12 07:55] EarvinJay opened #22 "READ FROM SD CARD"
I have successfully retrieved songs from my phone's internal storage . why can't I retrieve songs from my sd card? I am using Android v6.0.1

[2018-03-13 16:16] cinder92 commented on #21
Hello, i will think about it, thanks

[2018-03-13 16:16] #21 closed, assigned to nobody

[2018-03-13 16:17] cinder92 commented on #16
i will close this issue because of a long time of no response, feel free to reopen

[2018-03-13 16:17] #16 closed, assigned to nobody

[2018-03-13 16:18] #14 closed, assigned to nobody

[2018-03-13 16:19] cinder92 commented on #22
Hello, you should know that this package only reads mp3 (for now), and most of android devices, order differently the song files.

I think you need to put the files in root folder to let the plugin read the songs.

[2018-03-14 03:10] EarvinJay commented on #22
Thank you very much for the reply. I have already placed an mp3 song to the
root folder of my sdcard, but it is not included in the response.

On Wed, Mar 14, 2018, 12:19 AM Dante Cervantes <notifications@github.com>
wrote:

[2018-04-27 12:22] Huii-Wang opened #23 "在ios端为什么我不能得到歌曲的URI？另外一般如何去播放呢？"

[2018-05-10 15:51] cinder92 commented on #23
Hello, could you please try to write in english? i can't understand japanese, i won't use google translate for understand what are you trying to say.

Thanks

[2018-06-03 11:16] ithustle opened #24 "Infinite loop getting all musics"
Hello,

I'm trying applying on my project to retrieve audio files but when I get it return to me a loop. I'm following docs but doesn't work as expected.

Aditional Info:

RN: 0.54.2
OS: MacOS High Sierra
Device: Simulator and Physical

[2018-06-03 15:24] #24 closed, assigned to nobody

[2018-06-03 16:27] ithustle opened #25 "Path and SongID"
Hello,

How can I get path and songId of music?

**Aditional Info**

- RN: 0.54.2
- OS: MacOS High Sierra
- Simulator and Physical Device (iPhone 6)

Thanks

[2018-06-04 04:06] yyrdl commented on #23
@cinder92 he speaks in Chinese ---》 "Why I can not get the URI of the music on IOS? And how to play the music"。

@Wirhui 这个 模块只是用来获取音乐列表的，播放用其他的模块。

Thanks cinder92 , this module is helpful for me :)

[2018-06-04 05:10] yyrdl opened #26 "Code Error in Version 2.0.1"
Error in `index.js`

Code:
[code]
You should swap the last two param of function  `RNReactNativeGetMusicFiles.getAll`.

The definition  of RNReactNativeGetMusicFiles.getAll  is

` public void getAll(ReadableMap options, final Callback errorCallback, final Callback successCallback)`

But the master branch of the repo is right....

[2018-06-07 06:16] cinder92 commented on #26
Thanks, I will fix it

[2018-06-07 06:21] cinder92 commented on #25
Hello for iOS, the array is a bit different, instead of 'path' you must use 'assetUrl', and for 'id' you must use 'persistentId'

[2018-06-07 06:23] cinder92 commented on #23
@wirhui the Uri for iOS is named as 'assetUrl' on incoming array and 'path' for Android , to play audio you can use any other react native plugin, because is not the intention of this one

[2018-06-07 09:04] ithustle commented on #25
Hello, @cinder92 . Thanks.

[2018-06-07 09:04] #25 closed, assigned to nobody

[2018-06-08 02:54] #26 closed, assigned to nobody

[2018-06-08 15:19] GermanMontejo opened #27 "App Crashes on devices with versions below Marshmallow"
Hi @cinder92 . We experienced an app crash on Android Kitkat (API 19) inside the method: getAll().

We couldn't get the specific line on the stacktrace but we noticed that the error happens inside the new Thread() block. We have managed to bypass the issue by removing the block of code inside the new Thread() block and just let the ContentResolver be executed in the Main Thread.

https://github.co

[2018-06-12 11:41] cinder92 commented on #27
Hello, thanks for submitting issues, yes, it's better to run that code in a separated thread  for get info of songs faster and prevent to block UI, I will test on device with KitKat, and check what's happening when I have time

[2018-06-12 13:07] cinder92 commented on #19
Hey y'all just reading about mp4, its a video format not an audio, i used `https://www.zamzar.com/convert/mp3-to-mp4/` to convert mp3 to mp4 and my computer recognized as video file, this plugin just read audio files, or correct me if i'm wrong.

[2018-06-12 15:01] cinder92 commented on #19
@themakerman  i was able to recognize mp4 files with this plugin, not need to update nothing, with page that i give you, and the code, its returning mp4 files

![captura de pantalla 2018-06-12 a la s 10 15 23](https://user-images.githubusercontent.com/4725556/41299662-8f85aab4-6e29-11e8-9bde-1bc6c38235a1.jpg)

[2018-06-12 15:23] cinder92 commented on #19
ok i see what is the error, we are using a mp3file library and FFMPEG in order to get Metadata from songs, so if your mp4 has no metadata, is not going to appear in json file, try turning to false

`comments, date and lyrics from options`

[2018-06-12 16:13] cinder92 commented on #27
fixed on 2.1

[2018-06-12 16:13] #27 closed, assigned to nobody

[2018-06-12 16:31] cinder92 commented on #16
fixed in V2.1.0

[2018-06-12 16:33] cinder92 commented on #21
fixed in v2.1.0

[2018-06-12 16:33] cinder92 commented on #26
fixed in v2.1.0

[2018-06-13 04:00] yyrdl commented on #26
thanks for your work :)

[2018-06-14 21:29] #23 closed, assigned to nobody

[2018-06-24 11:07] NightJolt opened #28 "Manifest merger failed : uses-sdk:minSdkVersion 16 cannot be smaller than version 17 declared in library [[]:react-native-get-music-files:unspecified]"
Got this error after installing library:

`:app:processDebugManifest FAILED FAILURE: Build failed with an exception. * What went wrong: Execution failed for task ':app:processDebugManifest'. > Manifest merger failed : uses-sdk:minSdkVersion 16 cannot be smaller than version 17 declared in library [[]:react-native-get-music-files:unspecified] C:\Users\[]\Desktop\[]\[]\[]\[]\MusicPlayer\android\app\

[2018-06-24 16:34] #28 closed, assigned to nobody

[2018-06-24 16:44] NightJolt opened #29 "Can not return title of music"
successfully finding all music files but can not return the title for all of them. all files are mp3 format

[2018-06-25 17:30] #29 closed, assigned to nobody

[2018-07-12 04:00] kidow opened #30 "warning: 'react-native' peer dependency missing"
<img width="716" alt="2018-07-12 12 57 15" src="https://user-images.githubusercontent.com/39021158/42611873-4f074e54-85d3-11e8-858f-166ada7ec24f.png">
<img width="981" alt="2018-07-12 12 57 26" src="https://user-images.githubusercontent.com/39021158/42611986-b2dfc0e6-85d3-11e8-9e43-9515d7f40073.png">

I just installed react-native-get-music-files, and I get this error. what's wrong?

[2018-07-12 04:00] #30 closed, assigned to nobody

[2018-07-18 09:38] ThangLuuQuoc opened #31 "Feature request - support paging same way with RN CameraRoll"
I think if support paging as RN CameraRoll will better

[2018-07-18 16:24] Drazail commented on #22
I tried to reproduce this, however it seems to be working as intended on 2.1

Would you please provide us with more information?

[2018-08-03 06:55] cinder92 commented on #31
Hello thanks for submitting issue, what do you mean by paging? Do you have an example?

[2018-08-24 03:51] jlorencelim opened #33 "'React/RCTDefines.h' file not found"
`'React/RCTDefines.h' file not found`

It shows this error after linking. I ejected using Expokit for this.

Expo: 27.0.1
Xcode: 9.4.1
React: 16.3.1
React Native: https://github.com/expo/react-native/archive/sdk-27.0.0.tar.gz => 0.55

[2018-10-05 05:08] ajaykumar97 commented on #16
My app is also crashing when I call `MusicFiles.getAll()` method. I have granted permission in android manifest and I am using` "react-native-get-music-files": "^2.1.0"`

[2018-10-09 18:26] dileepbolisetti opened #34 "Showing this Error Cannot read property 'getAll' of undefined"
![screen shot 2018-10-09 at 11 55 43 pm](https://user-images.githubusercontent.com/8918698/46690031-f23d7800-cc1e-11e8-9dff-866085c00677.png)

[2018-11-11 13:58] clems36 opened #35 "App crashes with SecurityException: Permission Denial"
Hi!
I just installed this package, launched my app and it crashed with the following adb logcat output:
[code]

I added both `android.permission.READ_EXTERNAL_STORAGE` & `android.permission.WRITE_EXTERNAL_STORAGE` to my react-native project's `AndroidManifest` and the code inside `componentDidMount` is the same as the example in this repo.

Can anyone help ?

[2018-11-22 21:24] cinder92 commented on #35
Hi, sorry for delay, you neet to ask for permissions with React Native Permissions

[2018-11-28 01:24] cinder92 commented on #35
closing due to no response

[2018-11-28 01:24] #35 closed, assigned to nobody

[2018-11-28 01:25] cinder92 commented on #34
i just tried version 2 in a scratch project, and its working with RN 0.57,

[2018-11-28 01:27] cinder92 commented on #31
closing due to no response

[2018-11-28 01:27] #31 closed, assigned to nobody

[2018-11-28 01:27] cinder92 commented on #22
closing due to no response

[2018-11-28 01:27] #22 closed, assigned to nobody

[2018-12-03 19:32] clems36 commented on #35
Sorry for the delay as well. That was it, my bad...

[2018-12-03 19:39] clems36 opened #36 "MusicFiles.getAll does not return anything"
Hi, I simply can't get anything out of `MusicFiles.getAll`...
I tried putting some logs in the module:

[code]

this will log 'android' but not 'tracks' or 'error'. I call it this way:

[code]
and it logs this:
![conemu64_2018-12-03_20-37-48](https://user-images.githubusercontent.com/6041593/49397271-5a01d200-f73b-11e8-9ccb-c54eabe41f75.png)

Any help is welcome!

[2018-12-16 12:13] clems36 commented on #36
@cinder92 any ideas ?

[2018-12-17 02:20] ryardley opened #37 "Include steps to add NSAppleMusicUsageDescription to Info.plist for Apple Music access."
When using this lib I found my app crashed on the iphone because I did not include a `NSAppleMusicUsageDescription` entry in my app Info.plist. Perhaps it would be a good idea to add this to the docs.

[2018-12-28 18:15] harzkr opened #38 "Does this package work for iOS, for real?"
I was trying to use this package to get all the music files on my device, so following the demo code in the Readme, I used the `MusicFiles.getAll()` function in componentDidMount, which is working well for Android, but doesn't show me any results for iOS. When I am listing out the `tracks` like this

`.then(tracks => {
    console.log(tracks)
})`

, its giving me an Error, `Error, you don't have a

[2019-01-10 15:38] vszabi93 commented on #36
getAll is returning promise. You have to put after the closing tag ).then to access the data so its should like this: MusicFiles.getAll({
        id: true,
        blured: false,
        artist: true,
        duration: true, //default : true
        cover: true, //default : true,
        title: true,
        // date: false,
        // lyrics: false,
        batchNumber: 5, //get 1 songs per batch

[2019-01-13 13:43] asalma02 commented on #33
Having the same issue. But when I delete 'React' from the path it works: "RCTDefines.h". Kept doing this to all react errors but didn't work for yoga/Yoga.h

[2019-02-10 22:58] cinder92 commented on #38
hello @harzkr sorry for delay answer, i will check what is going on, i think it will work only when you have songs on iTunes.

[2019-02-12 18:40] cinder92 commented on #36
i will close this issue because answered

[2019-02-12 18:40] #36 closed, assigned to nobody

[2019-02-12 18:50] harzkr commented on #38
I think I did on my device, but none of them were showing up. I was able to use react-native-itunes in order to display the songs, but yet, I was unable to fetch the data url of the file, which was my requirement. I am making the users copy all the songs on the folder of my app, on the Files App, and then accessing the data Url, do you think there is an easier way to fetch those, or even by using

[2019-02-15 13:01] ShivamRawat0l opened #39 "nativemodules is not defined"
Native modules are not defined in index.js of the react-native-get-music-files.
cannot get property getAll of undefined

To keep the issues clean stackover flow link  :
 https://stackoverflow.com/questions/54709843/react-native-nativemodules-not-defined-when-linking-a-library-with-it

[2019-02-28 06:35] cinder92 commented on #34
Closing issue due to inactivity

[2019-02-28 06:35] #34 closed, assigned to nobody

[2019-02-28 06:36] cinder92 commented on #37
Thanks I will add it

[2019-02-28 06:36] #37 closed, assigned to nobody

[2019-03-14 17:58] renganatha10 opened #41 "GetAll returns all the music even though batchNumber specified"
I am Using ReactNative - 0.58
It's happening on Android

I am trying to get music on a batch of 5 but android returns all the Music

[code]

I am Listening using `DeviceEventEmitter('onBatchReceived')` it returns all the music files

Am I Missing Something?

[2019-03-15 11:06] M1n007 opened #42 "Get all return TypeError: Cannot read property 'getAll' of undefined"
this mys script

import {
  PermissionsAndroid
} from "react-native";
import MusicFiles from "react-native-get-music-files";

  async componentDidMount() {
    try {
      const granted = await PermissionsAndroid.request(
        PermissionsAndroid.PERMISSIONS.READ_EXTERNAL_STORAGE,
        {
          title: "Listen Music App Storage Permission",
          message:
            "Listen Music App n

[2019-03-16 15:50] farshed commented on #42
I ejected from Expo to Expokit and I'm getting the exact same error.
![Screenshot (96)](https://user-images.githubusercontent.com/23633421/54478306-74ffda00-4832-11e9-9fc2-6cf396b59b98.png)

[2019-03-16 16:52] farshed commented on #34
@dileepbolisetti I'm facing the same problem. May I ask how you solved it?

[2019-03-17 02:03] cinder92 commented on #42
@M1n007 did you checked that ´react-native-get-music-files´ is linked correctly into Android build graddle? BTW this packaged does not work with EXPO

[2019-03-17 02:05] cinder92 commented on #41
@renganatha10 how many songs do you have on your device? maybe is a stupid question, but in this way we ca check what is happening, and what are the specs of your device? simulator? real one?

[2019-03-17 02:06] cinder92 commented on #33
This package does't works with expo, sorry

[2019-03-17 02:06] #33 closed, assigned to nobody

[2019-03-17 02:10] renganatha10 commented on #41
I have 600 songs in a real device. I get all 600 songs in single batch and
it takes 5 to 10 minutes.

On Sun, Mar 17, 2019, 7:35 AM Dante Cervantes <notifications@github.com>
wrote:

[2019-03-17 02:16] cinder92 commented on #41
@renganatha10 could you please try to install the module again from this github repo instead of npm, and test again please?

[2019-03-17 05:41] M1n007 commented on #42
I only use automatic link, maybe I should try the manual link.

Pada tanggal Min, 17 Mar 2019 09.03, Dante Cervantes <
notifications@github.com> menulis:

[2019-03-17 06:44] farshed commented on #42
I solved it by creating a new vanilla React Native Project and importing all my source code into that. It works but takes 10-15 seconds to fetch around 450 audio files. @cinder92 any tips to improve its performance?

[2019-03-17 13:04] M1n007 commented on #42
@cinder92 i try to link manually but i get error result

WARNING: The specified Android SDK Build Tools version (27.0.3) is ignored, as it is below the minimum supported version (28.0.3) for Android Gradle Plugin 3.3.1.
Android SDK Build Tools 28.0.3 will be used.
To suppress this warning, remove "buildToolsVersion '27.0.3'" from your build.gradle file, as each version of the Android Gradle Plugin

[2019-03-17 16:27] clems36 commented on #41
I'm having the same issue, `console.log(params.batch.length);` shows 5000+. It only shows `1` when I set `batchNumber: 1`
Also, i'm trying to log the result of `getAll` but it never gets to the log:

[code]

[2019-03-17 19:54] ithustle opened #44 "Last updates doesn't makes effect on existing installation"
Updating on new installation doesn't change last commit done on this package. I think should be a better approach release 2.1.1 version.

[2019-03-18 07:56] Drazail commented on #44
@ithustle are you updating via npm or GitHub?

[2019-03-18 08:06] ithustle commented on #44
`npm`. To be more specific, `yarn`

[2019-03-18 08:30] Drazail commented on #42
@eff-society the getAll method on MusicFiles class parses all the metadata including the cover directly from the music files, did you try Pagination via batchNumber option? ie:

[code]

Also on android >=5 you can use RNAndroidAudioStore.getSongs with no arguments ( ie:

[code]
)
to retrieve all the songs from androids internal metadata database, this method will be faster however if some songs ha

[2019-03-18 09:10] Drazail commented on #41
@clems36
 Does the logcat show any errors?

[2019-03-18 09:12] Drazail commented on #44
I think it hasn't been updated on npm yet, I may be wrong though.

[2019-03-18 11:11] renganatha10 commented on #41
@cinder92 I am installing directly from GitHub FYI I am Using Android 8.1

Screen Shot of JS console which returns the result in Batch

<img width="1005" alt="Screenshot 2019-03-18 at 4 32 47 PM" src="https://user-images.githubusercontent.com/19145173/54526356-88c74f80-499c-11e9-9bc6-a62381740021.png">

Screen Shot of Android Logcat

<img width="1399" alt="Screenshot 2019-03-18 at 4 34 29 PM" src=

[2019-03-19 05:38] cinder92 commented on #44
@ithustle please use git repo instead npm

[2019-03-19 15:14] ithustle commented on #44
@cinder92, roger that. Thanks.

[2019-03-19 15:15] #44 closed, assigned to nobody

[2019-03-24 17:02] clems36 commented on #41
@Drazail Yes:
![ConEmu64_2019-03-24_18-01-33](https://user-images.githubusercontent.com/6041593/54882881-f3760080-4e5e-11e9-9ccc-4548ef9eb8bf.png)
I don't understand why i'm getting this error though, why is it trying to save images ?

[2019-03-25 04:33] M1n007 commented on #42
this my public repo, can you help me about new error
https://github.com/M1n007/ListenMusic

[2019-03-26 22:31] Drazail commented on #41
@clems36 ```MusicFiles.getAll()``` extracts meta data directly from the file, saves the cover image and sends the path over the bridge to the JS thread, the other option is to send the image itself which would block the bridge and can cause crashes.

this is currently the only way ( and a very slow one at that) of retrieving thumbnails i can think of as ```ALBUM_ART``` constant of ```MediaStore.Au

[2019-03-26 23:27] Drazail commented on #42
@M1n007: seems to be working as intended :

![RNGMFIssue#42](https://user-images.githubusercontent.com/30296570/55039968-0bf34000-5044-11e9-949f-77b7f28bdc49.jpg)

the only error this throws is due to lack of write permission which is required in order to save the album-art.

[2019-03-27 05:33] M1n007 commented on #42
@Drazail @cinder92
yes for now after I try this again it works, thanks in advance.

[2019-03-27 05:34] #42 closed, assigned to nobody

[2019-03-31 14:20] clems36 commented on #41
I'm not sure I understood everything you said but basically do you have a way to avoid this error ?

[2019-04-03 02:53] Drazail commented on #41
@clems36

There's a snippet from the example app, its a function which asks for read/write permissions recursively :

[code]

This should fix the permission issues.

[2019-04-03 06:32] farshed opened #45 "RNAndroidAudioStore TypeError: Cannot read property 'getSongs' of undefined"
Hello, I'm trying to use RNAndroidAudioStore as mentioned by @Drazail in https://github.com/cinder92/react-native-get-music-files/issues/42#issuecomment-473815037 but it seems to be undefined.

I'm importing it like so:
`import MusicFiles, { RNAndroidAudioStore } from 'react-native-get-music-files';`

Is this is a recent addition to react-native-get-music-files? Do I need to update the lib to make

[2019-04-03 11:23] Drazail commented on #45
@eff-society yes, this is a new addition, you will need to install the package via GitHub and follow the instructions given [here](https://github.com/Drazail/react-native-get-music-files/blob/development/README.md) specifically these steps:

[code]

[code]
you can also find the example app [here](https://github.com/cinder92/react-native-get-music-files/tree/master/example)

please note that the de

[2019-04-03 12:33] Drazail commented on #39
@ShivamRawat0l

Please advise if the solution provided on stack overflow solved this issue.

[2019-04-04 12:51] Drazail commented on #41
@cinder92
`com.facebook.react.bridge.WritableArray.size()` returns 1 all the time, adding a separate counter for `JsonArray` size at `com.cinder92.musicfiles.RNReactNativeGetMusicFilesModule.getSongs` should solve this issue.

will make a pull request as soon as the docs are finalized.

[2019-04-05 05:50] farshed commented on #45
I followed your instructions but now the android studio throws me the following errors:
[code]

I installed the package via github with `yarn add Drazail/react-native-get-music-files`

[2019-04-05 16:24] farshed commented on #45
@Drazail A little help please!

[2019-04-05 17:51] Drazail commented on #45
@eff-society, can you reproduce the issue in a public repo?

ps. if you want to install from my fork ( which i don't advise as it hasn't been tested), then you should use the development branch, not the master, ie : you should include the following in the package.json :
[code]

anyways, please reproduce the issue so i can take deeper dive into it.

[2019-04-06 06:07] farshed commented on #45
It seems I wasn't installing the lib correctly. Did what you said and got it working (only to find out that RNAndroidAudioStore doesn't return artwork paths 😁, which is necessary for my project). Guess I'll have to stick with the MusicFiles. Anyway, thanks for all the help.

[2019-04-06 06:07] #45 closed, assigned to nobody

[2019-04-06 10:22] Drazail commented on #45
@eff-society

unfortunately the `ALBUM_ART` constant of `MediaStore.Audio.AlbumColumns` was deprecated in API level `Q` and always returns `null`, so there is no way of accessing the covers android extracts on each scan. the only way to get the covers currently is to extract the metadata directly from the file itself, save it and send the path over to JS, which as you can imagine is very slow. her

[2019-04-10 16:32] ShivamRawat0l commented on #39
@Drazail Sorry but no. It didn't solved. I tried many things but it didn't work.

[2019-04-10 17:03] yusuf987 opened #47 "error: cannot find symbol new RNReactNativeGetMusicFilesPackage(),"
My project info
    "react-native": "0.49.3",
    "react-native-get-music-files": "^2.1.0",
platform : Android

after follow all step i am not able to build the project in android saying bellow error

` error: cannot find symbol new RNReactNativeGetMusicFilesPackage(),`

can somebody please help me

[2019-04-10 17:08] yusuf987 commented on #10
in which file ??

[2019-04-11 04:11] Drazail commented on #47
@yusuf987
Have you linked the project manually?
If so, try replacing `import com.reactlibrary.RNReatNativeGetMusicFilesPackage;` with `mport com.cinder92.musicfiles.RNReatNativeGetMusicFilesPackage` in `android/app/src/main/java/[...]/MainActivity.java`

[2019-04-11 04:37] Drazail commented on #39
@ShivamRawat0l

[code]

[code]

if the above doesn't work either, please reproduce the issue in a public repo so we can take a closer look at it.

[2019-04-17 05:04] yusuf987 commented on #47
i have done both manual and automatic,
but i am confused as per documentation
![image](https://user-images.githubusercontent.com/24749530/56261724-bfa69780-60f9-11e9-9e9c-bbc9068ded48.png)
`it saying Add new RNReatNativeGetMusicFilesPackage() to the list returned by the getPackages() method` ,
but there is no **getPackages()** in **MainActivity.java** instead it is in **MainApplication.java** so i

[2019-04-17 08:34] Drazail commented on #47
@yusuf987 yes, seems like `MainActivity.java` is a type and should be `android/app/src/main/java/[...]/MainApplication.java`

please check the [example ](https://github.com/cinder92/react-native-get-music-files/tree/master/example)app and see if that helps, if not, then please reproduce the issue in a public repo so we can take a closer look.

[2019-04-18 10:55] yusuf987 commented on #47
yes the issue was due to the wrong name mentioned in docs
now I am able to build succeed after following only 2 steps bellow
(1 ) run react-native link react-native-get-music-files
(2)  adding      `compile project(':react-native-get-music-files')`
in app/build gradle

thanks for help

[2019-04-18 11:05] yusuf987 opened #48 "can only read music file from Audio folder"
My project info
"react-native": "0.49.3",
"react-native-get-music-files": "^2.1.0",
platform : Android

i wand to read all call recording file from the device and i am also getting some files(.amr) from Audio folder of android
but  not all the files

like i have installed two call recording apps in my android phones say (App1 and App2)
and records come calls from both the apps
app1 recorded files

[2019-04-18 12:07] Drazail commented on #48
@yusuf987

no, this library does indeed scan the whole device.

however, to find music files, this package queries Android's MediaStore.Audio with the flag IsMusic set to true, so there are two requirements for this package to find the files:

1- Android should have already scanned the file
2- the file should be a music file

does App2 use its own proprietary MIME type? if not, does it make a requ

[2019-04-19 03:49] yusuf987 commented on #48
I have tried to restart the device with  no luck
the files in app2 has  **.amr** extension

can you help me how do i check if the App2 make a request to the android scanner

thank you

[2019-04-19 08:40] Drazail commented on #48
@yusuf987  does android's own music player show these records?

[2019-04-25 22:15] ghost opened #49 "Cover folder"
Cover images extracted directly to internal storage. I need to change output folder. I don't know can we set because of poor readme... (I can't set it directly in java, i need to set programmatically)

[2019-04-26 15:17] Drazail commented on #49
@TrueTiem

It is possible to change the folder in which the images are stored via `RNAndroidAudioStore` , ie:

[code]
or
[code]

As for documentation, I made a pull request ( updated docs & batchNumber/delay on `RNAndroidAudioStore.getAll`) and its waiting for approval, meanwhile please check the development branch of my [fork](https://github.com/Drazail/react-native-get-music-files/tree/developme

[2019-04-26 22:29] TrueTiem commented on #49
Hi, thanks for reply. I installed from development branch but get `TypeError: RNAndroidStore is undefined`

[code]

[2019-04-26 23:17] ghost commented on #49
It was only allowing me to save inside the folder returned from getExternalStorageDirectory(). I just simply changed that. Working perfectly <3

[2019-04-26 23:18] #49 closed, assigned to nobody

[2019-05-04 08:46] #47 closed, assigned to nobody

[2019-05-04 16:15] muhammadashfaq opened #50 "Gernerting signed apk build error"
[code]

[2019-05-04 23:04] Drazail commented on #50
@muhammadashfaq
please provide more information.
Is your app running in development environment? which version are you using? are you installing via github or npm?

Also please reproduce the issue if possible.

[2019-05-05 07:58] muhammadashfaq commented on #50
react-native-cli: 2.0.1
react-native: 0.59.4

using npm 6.4.1

[2019-05-05 10:18] Drazail commented on #50
@muhammadashfaq

Does your app work in development environment?

I was not able to reproduce this issue, please reproduce it so we can take a closer look.

[2019-05-05 10:19] muhammadashfaq commented on #50
yes app is in development process.     I've uninstalled it from project and then apk generated successfully .

[2019-05-05 16:16] Drazail commented on #50
@muhammadshafaq

Please reproduce the issue in a public repo.

[2019-05-05 16:33] muhammadashfaq commented on #50
Sorry to say  i don't know how to reproduce issue in public repo.  can you tell me how to do it

[2019-05-05 19:08] Drazail commented on #50
@muhammadashfaq
Create a new app, add this module to the app, test it if it still doesn't work, if that was the case, push it to a public GitHub repo then share the link to that repo here. 🙂

[2019-05-16 10:12] BlunT76 commented on #50
Hi
Same problem here, work in dev mode, but fail to compile
react-native-cli: 2.0.1
react-native: 0.59.8
npm: 6.9.0

android ./gradlew assembleRelease

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
WARNING: The spe

[2019-05-16 19:21] Drazail commented on #50
@BlunT76

Are you installing this module via npm?
( Please note that RNAndroidAudioStore is not implemented in the npm version so if you are installing via npm you shouldn't register this class)

This is one of those issues that is really hard to figure out without access to the source code.

As I couldn't reproduce this issue, please help by either sharing your code or reproducing the issue.

[2019-05-16 19:52] BlunT76 commented on #50
@Drazail
I first installed via npm, re installed via npm install https://github.com/cinder92/react-native-get-music-files.git --save
Same result...

Here is my code: https://github.com/BlunT76/cardash

[2019-05-16 23:34] Drazail commented on #50
@BlunT76
it seems to be working as intended.
I could generate an apk and run the app on both emulators and real devices. you can find the full project on the pull request I made into the master branch of your [repo](https://github.com/BlunT76/cardash/pull/1).

the issue is most probably related to `build.gradle` files, check those in the android project of the pull request.

[2019-05-17 09:57] BlunT76 commented on #50
@Drazail
Thanks for the pull request, i merged it, pull, but always same problem.
As you said, problem come from gradle, but i don't know how to solve it...
What version of gradle do you use?

SOLVED!!
I added this code a the end of /android/build-gradle
`subprojects {
        afterEvaluate {
            project ->
                if (project.hasProperty("android")) {
                    android {

[2019-05-17 10:56] Drazail commented on #50
@BlunT76

Android studio should have prompted you to update `compileSdkVersion` and `buildToolsVersion` to 28 if your project uses resources added in API level 28. Android studio can be weird like that at times .

unfortunately due to legacy support these parts of the modules should usually be updated manually according to the project's needs.

[2019-05-17 12:13] BlunT76 commented on #50
@Drazail
Yes, probably related as i updated android studio today, and installed many sdk

[2019-06-02 09:53] farshed opened #51 "Request to put the cached album art in a separate folder"
This is not an issue, just a feature request. The cached album art is stored in the open inside storage. It would be a better UX if it was stored inside a folder with a `.nomedia` file so it wouldn't show up in the gallery or other apps that scan media.

[2019-06-02 23:17] Drazail commented on #51
@eff-society
You can pass a custom path to `RNAndroidAudioStore`. ( Only works on Android)

[2019-06-04 06:22] YajanaRao commented on #28
How did you resolve this issue?

[2019-06-04 06:23] YajanaRao opened #52 "Error with running the application with react-native-get-music-files"
When I run `react-native run-android` I am getting error as

[code]

[2019-06-04 06:49] YajanaRao commented on #52
Able to resolve this issue by changing the minimum sdk version in build.gradle

[2019-06-04 06:49] #52 closed, assigned to nobody

[2019-06-07 17:09] farshed commented on #51
Thank you for responding so quick @Drazail. I just saw in the docs that RNAndroidStore.getAll() method now returns album covers but at the cost of performance.

- Is the performance same as MusicFiles.getAll() or better?

- Also, do I have to be fetching media with RNAndroidStore to make use of the coverFolder property or does this work with MusicFiles as well?

[2019-06-08 05:55] Drazail commented on #51
@eff-society

* performance should be marginally better than `MusicFiles.getAll` (opening streams and writing into files will introduce some performance hit, even though they are being done on a separate thread).

* yes, you will have to use `RNAndroidAudioStore`, the two are completely separate entities (due to legacy support).

as a side note, the version we are using internally does include sor

[2019-06-08 06:52] #51 closed, assigned to nobody

[2019-06-17 11:28] farshed commented on #41
Experiencing the same issue. Is there a workaround for it yet?

[2019-06-20 07:29] Drazail commented on #41
@eff-society
workaround would be to use `RNAndroidAudioStore.getAll` :p
as I mentioned earlier, the problem seems to be the return value of `com.facebook.react.bridge.WritableArray.size()` @ `com.cinder92.musicfiles.RNReactNativeGetMusicFilesModule.getSongs`.

[2019-06-21 14:17] farshed opened #53 "getAll() returns data that no longer exists"
I'm using [react-native-fs](https://github.com/itinance/react-native-fs)'s moveFile method to rename files in my app. The package works correctly (confirmed with file explorer and other music players).

But when I scan after the rename operation,

- RNAndroidAudioStore.getAll() returns a strange object for the renamed file.
Note that the path property is the old url which no longer exists. Also th

[2019-06-21 16:40] Drazail commented on #53
@eff-society
ill take a look into this, meanwhile please reset the emulator, scan the files again and let us know the results.

also are you using events ( via `batchNumber` option) or are these being returned directly by the `getAll` method?

it would be great if you could reproduce the issue as well.

[2019-06-21 17:40] farshed commented on #53
@Drazail
The problem persists even after:

- Restarting the app.
- Clearing app data.
- Reinstalling the app.

But goes away (`getAll()` returns the correct object):

- After rebooting the emulator.

I've tried both events and getAll() without batchNumber btw.

[2019-06-22 04:33] Drazail commented on #53
@eff-society
the problem seems to be originating from `moveFile` not triggering android media scanner.
when a file is moved, the corresponding entry in `MediaStore.Audio` (android's database) stays the same unless the scanner is triggered manually ( or via the automatic scan which happens when the device is booting up). so when the package tries to scan the path provided by `MediaStore.Audio` it f

[2019-06-22 08:43] farshed commented on #53
Thank you @Drazail. That was very helpful😄

[2019-06-22 08:43] #53 closed, assigned to nobody

[2019-07-10 05:41] YajanaRao opened #54 "Support for react native 0.60"
Is there a support for AndroidX or react native version 0.60 ?

[2019-07-10 20:04] Drazail commented on #54
@YajanaRao

Not yet. I'm currently working on it though.

[2019-07-11 11:49] YajanaRao commented on #54
Thank you @Drazail

I am facing issue with `npx jetify`. I am getting error as
`[TypeError: null is not an object (evaluating 'RNAndroidStore.getArtists')]`.
Any timeline for the react native version 0.60 support

[2019-07-13 09:28] Drazail commented on #54
@YajanaRao
`RNAndroidStore` needs some refactoring to be compatible with jetify.
Unfortunately I am struggling with some health issues at the moment hence the slow development process at my end, however the new version will hopefully be pushed by the end of this month.

[2019-07-15 12:33] Drazail commented on #54
@YajanaRao

I was playing around with `jetifier` today, and to my surprise the latest version worked.

is it the `npx jetify` that's throwing you this error?

[2019-07-15 12:36] YajanaRao commented on #54
Using jetify I can access musicfiles but not RNAndroidStore.

[2019-07-15 13:40] Drazail commented on #54
@YajanaRao
`import { RNAndroidAudioStore } from "react-native-get-music-files";`

[2019-07-19 17:34] Drazail commented on #54
@YajanaRao

Please update the status on this issue.

[2019-07-23 04:28] YajanaRao commented on #54
I will close this issue as the solution is using jetify

[2019-07-23 04:28] #54 closed, assigned to nobody

[2019-07-30 18:05] ThalKod opened #55 "Something get wrong with musicCursor Error"
I'm Trying to use the module on Android, but i'm having `Something get wrong with musicCursor`
Unable to fetch any musics files...

[2019-07-31 22:20] Drazail commented on #55
@ThalKod

Please provide more information likr:

- Module version
- React-native version
- Your code snippet

[2019-08-01 19:32] ThalKod commented on #55
@Drazail
I'm using RN 0.59.8, with react-native-get-music-files@2.1.0 running on Android API 28.
This is how i'm trying to use it after installation:
[code]

I'm getting this :

<img width="1159" alt="Screen Shot 2019-08-01 at 3 28 56 PM" src="https://user-images.githubusercontent.com/32584079/62321661-249bb880-b471-11e9-8cd4-a16b8a64c690.png">

<img width="676" alt="Screen Shot 2019-08-01 at 3 27

[2019-08-04 06:40] Drazail commented on #55
@ThalKod is there any music files on the device?

[2019-08-05 20:45] ThalKod commented on #55
@Drazail I Added two music files(`.mp3`) on the device, they are located in the  `Downloads/` folder , but i still have the same error...
Any idea what might be the problem ?

[2019-08-06 09:48] Drazail commented on #55
@ThalKod

I haven't developed `getMusicFiles` class, however after taking a brief look, this error seems to be thrown when the corresponding database table is empty.

Try rebooting the device and check if the problem goes away.

[2019-08-08 20:02] ThalKod commented on #55
@Drazail
Thanks, I reboot the app and it's working(fetched the two music files), but i can see two issues with that:
- If a user download a music files, i can't access the files in my app until a reboot ?
- if there's no music files on the devices, no error is thrown(none that i can catch in js code ) ?

[2019-08-09 11:01] Drazail commented on #55
@ThalKod

- you should perform a manual scan in order to access newly added files ( an automatic scan happens on reboot). Most file system management modules ( such as rn-fetch-blob) do offer this feature.

- in this case not throwing an error seems to be the expected behavior.

[2019-08-10 11:42] #55 closed, assigned to nobody

[2019-08-13 07:29] DNA-h commented on #51
The problem is android side is that all the images are added to the user's gallery, so cover folder and .nomedia file make sense.

[2019-08-26 08:02] farshed opened #56 "onLastBatchReceived event isn't triggered"
I'm using RNAndroidAudioStore's `getAll` method with pagination. The `onBatchReceived` event is triggered correctly but the `onLastBatchReceived` callback is never executed. I haven't tested this with MusicFiles yet.

I'm using the master version with react-native 0.59.9 and testing on Android Pie.

[2019-08-28 16:29] Drazail commented on #56
@eff-society
Its probably an edge case, ill take a look asap.
meanwhile please test with different batch sizes and see if it helps.

[2019-09-01 08:18] lylest opened #57 "app can't start after installling it"

[2019-09-01 08:24] Drazail commented on #57
@lylest
please provide us with some context.

[2019-09-01 11:33] lylest commented on #57
after successfully installing it  when I tried to react-native run-android it stuck and fail with error logs but when I remove your package everything works just fine

here is my package. json file
{
  "name": "Oplay",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "react": "16.8.6",

[2019-09-01 12:18] Drazail commented on #57
@lylest

as you are using `react-native` 0.6+ please make sure you are linking the module correctly and then use `jetifier` to migrate.

I also noticed you are using `react-native-track-player` 1.1.8, you should use the `v2` branch of that repository with `react-native` 0.6+

[2019-09-01 12:23] lylest commented on #57
* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

error Failed to install the app. Make sure you have the Android development environment set up: https://facebook.github.io/react-native/docs/getting-started.html#android-development-environment. Run

[2019-09-01 12:26] Drazail commented on #57
@lylest

please share your code or reproduce the issue on a public repo.

[2019-09-01 12:41] lylest commented on #57
it happens before i even run my app nor use it when i just install this package and run my app

[2019-09-01 12:44] lylest commented on #57
but here is my code
`     /**
 * Sample React Native App
 * https://github.com/facebook/react-native
 *
 * @format
 * @flow
 */

import React, {Fragment} from 'react';
//import SearchBar from 'react-native-searchbar';
//import react-native-vector-icons from 'react-native-vector-icons';

import {
  SafeAreaView,
  StyleSheet,
  ScrollView,
  View,
  Text,
  StatusBar,
  Image,
  TouchableOpacity,

[2019-09-01 15:02] Drazail commented on #57
@lylest

maybe I was not clear in my previous comments,
the problem doesn't originate from the JS part of your app but the native part.

if you are installing via npm please make sure you followed these steps:

---

1. Open up `android/app/src/main/java/[...]/MainApplication.java`
  - Add `com.cinder92.musicfiles.RNReatNativeGetMusicFilesPackage;` to the imports at the top of the file
  - Add `new

[2019-09-02 04:59] lylest commented on #57
My react native 0.60.5 doesn't permit manual linking of dependencies it
throw a Warning
And react native track player latest version is 1.1.8 no  version two
unless you got a link send it to me

[2019-09-02 06:47] lylest commented on #30
how did you solved this issues i am facing the same problem here

npm WARN react-native-get-music-files@2.1.0 requires a peer of react-native@^0.41.2 but none is installed. You must install peer dependencies yourself.

[2019-09-02 06:54] lylest commented on #48
can we build this library using react-native fs to open and find all files related to audio files and store their path to the state or something then we can retrieve them in flat list or something  i am currently working on that my app could run with rn-fetch-blob so this is my only solution still trying though

[2019-09-02 10:23] Drazail commented on #57
@lylest

If you follow the steps above, the package should work as expected, there are apps out there which are using RN 0.6+ and this package at the same time.

---

here's the link to the v2 branch of TrackPlayer:
[react-native-track-player v2](https://github.com/react-native-kit/react-native-track-player/tree/v2)

[2019-09-03 20:01] myckhel commented on #56
Im using the master repo as well

Same issue here testing with 2 different devices.

Also RNAndroidStore throws error while trying to use any of its method.
Error e.g cannot get property getAll of undefined.

Also if batchNumber is greater than 1
MusicFiles returns all files at once exept if specify 1 batchNumber before it returns 1 file at a time.

Would really appreciate if these errors would be

[2019-09-04 03:06] farshed commented on #56
This might be because RNAndroidStore is not properly linked. Make sure to follow the manual linking instructions [here](https://github.com/cinder92/react-native-get-music-files#manual-installation-1).

The [workaround](https://github.com/cinder92/react-native-get-music-files/issues/41#issuecomment-503911492) for this is to use RNAndroidStore instead.

[2019-09-11 14:40] Drazail commented on #48
@lylest

That will most probably crash your app.

What are the unimplemented features that you are looking for?

[2019-09-11 15:18] lylest commented on #48
No have tried open all directories and read all music paths and store the  in state and it worked just fine

[2019-09-12 03:23] Drazail commented on #48
@lylest

I assume you'll then want to extract the meta data, scale this up to a couple of thousands of songs and your app will crash.

I still don't understand what fs has to do with what we try to solve with this package.

[2019-09-12 06:22] lylest commented on #48
I'll try it anyway and make it more even better

On Sep 12, 2019 06:23, "Drazail" <notifications@github.com> wrote:

[2019-10-05 18:59] anthonytietjen opened #58 "iOS - Cannot read property 'getAll' of undefined"
1. react-native init ListAllTracks
2. cd ListAllTracks
3. npm install react-native-get-music-files --save
4. Replace app.js with this:
[code]
5. react-native run-ios --simulator="iPhone 11"
6. Turn on the debugger
7. You'll see this error:
[code]

[2019-10-05 19:07] anthonytietjen opened #60 "pod install not working"
1. npm install react-native-get-music-files --save
2. cd ios
3. pod install
4. error as seen here:
[code]

[2019-10-06 11:57] Drazail commented on #58
@anthonytietjen

I'm not familiar with iOS development, however I think you need to link the module first.

[2019-10-07 23:12] cinder92 commented on #58
Check that npm version is not the same that the git repo, please use git repo instead

[2019-10-07 23:14] cinder92 commented on #60
This package is not ready for RN 0.60+ you must link it manually

[2019-10-07 23:29] anthonytietjen commented on #60
Thanks for following up on this. However, I still have no luck.

I took the following steps:
- npm uninstall react-native-get-music-files
- npm install https://github.com/cinder92/react-native-get-music-files.git --save
- react-native run-ios --simulator="iPhone 11"

Then the console shows this error:
[code]

And the Chrome debugger still shows this error:
[code]

[2019-10-07 23:31] anthonytietjen commented on #58
Thanks for following up on this. However, I still have no luck.

I took the following steps:
- npm uninstall react-native-get-music-files
- npm install https://github.com/cinder92/react-native-get-music-files.git --save
- react-native run-ios --simulator="iPhone 11"

Then the console shows this error:
[code]

And the Chrome debugger still shows this error:
[code]

[2019-10-08 00:08] anthonytietjen commented on #58
I also tried manually linking. When I do that, and push Run in Xcode, I get this error:
[code]

[2019-11-04 06:36] ajoykarmakar459 opened #66 "Sorting Features and Duration"
How can we sort the array list that returns by the plugin, Like sort by date or size and can we get the duration in minutes or hours more user-readable instead of milliseconds?

[2019-11-05 17:23] Drazail commented on #66
@ajoykarmakar459

about sorting, we have implemented sorting and pagination internally, however the testing is not complete, and as we are very close to pushing a major update, i'm unfortunately extremely busy.

I try my best to make a pull request as soon as the code is tested for the wider use cases this package requires (compared to our app).

as for "user-readable" duration, i think it would b

[2019-11-08 09:36] ajoykarmakar opened #67 "Get files from specific folder"
I have a music application where the user can download the music file also. So when I fetched the music files I got all the files that the user store in his storage device but I want only those mp3 that user downloaded and stored in the "download" folder. How can I achieve this feature?

[2019-11-08 10:40] Drazail commented on #67
@ajoykarmakar
i guess you could use some fs module ( like [RNFetchBlob ](https://github.com/joltup/rn-fetch-blob)) to retrieve URIs you want, then use this packages to extract the metadata.

however, in my opinion, the more  sensible approach would be to store the metadata and path/URL upon fetching them from the back-end( in some local database  like sqLite or realm ).

[2019-11-08 11:22] ajoykarmakar commented on #67
Yupp, I have used this plugin to download the songs and stored in the storage but how can I get only from a specific folder where the user stored the songs. my current code is -

[code]
I got all songs from this code.

[2019-11-08 18:21] Drazail commented on #67
you could use `RNAndroidAudioStore.getSongByPath` ( see [here](https://github.com/cinder92/react-native-get-music-files#rnandroidstore)) to retrieve the metadata from a path, however this wont work on iOS.

-----

to be honest though, for your use case, I truly think it would be a better solution to just use a local database instead of this package.

I assume you fetch the metadata and the urls fr

[2019-11-09 10:13] ajoykarmakar commented on #67
Yeah, I can do it with local storage but if the user somehow deletes the mp3 file from the file manager then the app still shows the file but didn't able to play the music. I think that's wrong and a bad UX and thank you for your coding support but that's a java code, How to implement this code, I have no idea can you help me out, please?

[2019-11-09 14:02] Drazail commented on #67
honestly this is how we handled this issue in our app:

- store all the data in SQLite, Songs table includes PATH ( defaults to NULL) and URL
- when the user decides to download a song, update the PATH
- whenever a song is going to be played, first scan the PATH attribute, if the file exists, then the song will be played locally from the path, otherwise fall back to the URI and fetch the song from

[2019-11-18 17:29] ajoykarmakar commented on #67
It will be really helpful if you are able to implement these features and my app run only on the android version so if you help me only on the android version still it will completely fine.

[2019-11-18 19:44] #50 closed, assigned to nobody

[2019-11-18 19:47] #39 closed, assigned to nobody

[2019-11-18 19:47] #38 closed, assigned to nobody

[2019-11-18 19:50] cinder92 commented on #66
@Drazail please share with me, those mayor changes, im going to work on some issues today

[2019-11-18 19:50] #60 closed, assigned to nobody

[2019-11-18 20:15] #48 closed, assigned to nobody

[2019-11-23 09:09] Drazail commented on #66
@cinder92
sorry for the late response, due to some "difficulties" the internet of my home country ( yes, the whole country  :-| ) was down for a week ...

the proper way of pushing new features to this repo, I think, is to create a new branch ( V3 or AndroidX or something like that) so we can add RN 0.6 + support without loosing backwards compatibility.

If you think its a good idea, we can open a

[2019-11-25 14:53] therealsuji opened #69 "The `RNReactNativeGetMusicFiles` pod failed to validate due to 1 error:"
[!] The `RNReactNativeGetMusicFiles` pod failed to validate due to 1 error:
    - ERROR | attributes: Missing required attribute `homepage`.
    - WARN  | source: The version should be included in the Git tag.
    - WARN  | description: The description is equal to the summary.

to anyone that couldn't fix this to fix this go to the react-native-get-music-files in node modules and replace home in p

[2019-11-25 16:45] therealsuji opened #70 "TypeError: null is not an object (evaluating 'RNReactNativeGetMusicFiles.getAll')"
2019-11-25 22:14:45.030 [info][tid:com.facebook.react.JavaScript] { [TypeError: null is not an object (evaluating 'RNReactNativeGetMusicFiles.getAll')]
  line: 96542,
  column: 37,
  sourceURL: 'http://192.168.1.11:8081/index.bundle?platform=ios&dev=true&minify=false' }

this comes up when i try to get all songs in ios 13.1

pod install was done also automatic linking is done as well

[2020-01-07 09:15] fanyui commented on #69
Great @therealsuji  I had exact same issue and your proposal worked 👍 .

[2020-01-24 08:51] jile10 commented on #56
still an issue. 0.61

[2020-01-29 04:02] cinder92 commented on #66
@Drazail yep, sounds good, we need to migrate to android X and RN 0.60+, lets open an issue for it

[2020-01-29 04:05] cinder92 opened #72 "Android X | RN 0.60+ Support"
This issue is opened in order to update this module for newest RN versions
we need to

1 .- Know how to create native modules for RN 0.60+
2 .- Update packages for Android X
3 .- Much test on iOS 13
4 .- Code improvement
5 .- Test on many devices (i have Android 6 and 9, iOS 13)

Please let me know your suggestions

@Haggaish  @flarocca @anthonytietjen  @rashidul-hasan  @Drazail

[2020-01-29 09:16] Drazail commented on #72
As far as android goes, i can help with the following:

1- I have developed RN 0.6+ modules before, and can help with this part.
2- Updating to AndroidX is somewhat trivial, I also can help with that aswell.
3- We have relatively large test group when it comes to android, so testing on android wont be a problem.
 4- as for Code improvement, in my opinion this is a very necessary step, the code (on

[2020-01-30 22:09] Drazail commented on #72
I've started refactoring the android code, you can find it [here](https://github.com/Drazail/react-native-get-music-files/tree/v3dev).

[2020-01-30 22:42] cinder92 commented on #72
@Drazail amazing, no worries, i can be testing on iOS, i have a very little experience on this, so i think it wont be a problem, but maybe take a long time to develop, so, we need to make on same channel as per code and new features, maybe we should list what modules we need an listen to the community

[2020-01-31 08:21] Drazail commented on #72
@cinder92

yes, I do agree that its still too soon to talk about the MediaStore thing.

given the feedback we received through previous issues, I gathered these:

1- some methods needs restructuring.

2- pagination: instead of using events we should handle pagination by either index range ( database model ) or `batchNumber` and `batchSize` ( REST model ).

3- sorting.

4- we need to handle cover p

[2020-02-01 19:28] farshed commented on #72
@Drazail I'm hiding cover images from gallery by pointing the `coverFolder` property to a directory with a dot at the beginning of its name (like /storage/Documents/.covers/). Maybe this can be made default for `coverFolder`?

Also, I had a question regarding the performance issues when covers are extracted. Is it normal native behaviour or is it a React Native bridge overhead issue?

[2020-02-01 20:37] Drazail commented on #72
@farshed

About the cover folder, that's exactly the behaviour I went for in v3dev branch of my fork.

Currently we extract the cover ( or query android's database if the entry is present), pipe the data to a file and return the path. Then ( on the js side of things) the image component grabs the file as a source and show it to the user. As you can see, this is not a very efficient way of doing th

[2020-02-03 14:22] badris101 commented on #69
Great job @therealsuji  👍

[2020-02-04 14:03] #69 closed, assigned to nobody

[2020-03-02 13:17] Drazail commented on #72
@cinder92 @farshed

I have implemented `search`, `getAll`, `getSongsByPath` and  `CoverImage` [here](https://github.com/Drazail/react-native-get-music-files/tree/v3dev).

* `CoverImage` inherits from `Image` so all `Image` props should work on `CoverImage` as well.
* cover Images are being saved each time you call functions with `cover` set to `true`, will take care of that in future updates.

if

[2020-03-07 16:23] ronniebhatt commented on #28
just increase minSdkVersion to 16

[2020-03-07 16:23] ronniebhatt commented on #28
just incease minSdkVrsion to 17

[2020-04-05 15:45] Drazail commented on #72
@cinder92 @farshed

I think the android part of the module is ready for release:

https://github.com/Drazail/react-native-get-music-files/tree/v3dev

[2020-04-05 21:08] farshed commented on #72
@Drazail

That's awesome. Let me know if there's anything I can do to facilitate the release.

[2020-04-06 08:13] Drazail commented on #72
@farshed

you can start playing around with the module and find if there are any bugs I've missed. ;-)

@cinder92

I was thinking about spilling different parts of the module into different scopes to keep the platform agnostic APIs similar to previous versions as well as making development of platform specific features easier.

maybe something like this:

[code]
- `/common` will include platform a

[2020-04-06 08:24] Drazail commented on #67
@ajoykarmakar this function is now implemented in v3dev branch of my fork.

https://github.com/Drazail/react-native-get-music-files/tree/v3dev#getsongbypaths

[2020-04-06 08:24] Drazail commented on #70
@therealsuji

can you provide more context?

[2020-04-10 22:51] farshed commented on #72
@Drazail `MusicFiles` is `null` when imported as `import MusicFiles from "react-native-get-music-files-v3dev-test";`

`RNAndroidAudioStore` works successfully in the same project. Is there a different procedure for linking `react-native-get-music-files-v3dev-test`?

[2020-04-11 07:50] farshed commented on #72
@Drazail nvm. I just rebuilt the project and it works now.

[2020-04-11 08:41] farshed commented on #72
@Drazail

It seems to be showing one cover for many songs, even though all of them have their own. I'm using `CoverImage` and fetching data via `getAll()` with cover = `false`.
Also how do you plan to handle the absence of albumArt?

**Edit:** Some more information about the bug that might help you track down the cause. The repeating cover in the screenshot is actually the cover for the very first

[2020-04-12 06:14] Drazail commented on #72
@farshed

about absence of album art, it should behave the same as an Image component with invalid source URI, ie: passing a placeholder image should do the trick.

about the bug you mentioned, are you using flatList?
also can you check if the bug persists for images not in the list?
does getAll return correct URIs?
and please share the code snippet for this list if possible.

[2020-04-12 08:13] farshed commented on #72
@Drazail

Yes, I'm using a FlatList.
I'm sorry I don't get what you mean by "images not in the list".
Yes, `getAll` returns the correct URIs since all the songs can be played correctly. The problem is only with the covers.

**renderItem method of the FlatList**

[code]

Another thing I noticed is that the FlatList is very choppy when using `CoverImage`. For context, I'm comparing it with the one t

[2020-04-12 13:10] Drazail commented on #72
@farshed

I meant does the Image component work properly outside of the flatList?

The choppiness I guess is due to the extraction taking place while flatList trying to load the components ( which is typically during scroll). let me move that process to a new thread and see if that helps.

[2020-04-12 13:51] farshed commented on #72
@Drazail

The result is same outside the FlatList i.e. it displays the same cover that it displays while being inside the list.

Another thing that might be of importance is that `CoverImage` doesn't seem to re-render when `src` prop changes.

[2020-04-14 06:59] Drazail commented on #72
@farshed
yep, seems to be a bug, working on it.

Meanwhile please let me know if you encountered any other bugs with the rest of the module. ( specially the pagination in getAll)

Also can you test without memoization ?

[2020-04-14 08:38] Drazail commented on #72
@farshed

Ive published a new version over at npm, can you check if the bugs are still present?

please note that some props have been renamed, you should write something like this:

[code]

[2020-04-14 17:09] farshed commented on #72
@Drazail

1. The FlatList is no longer choppy and performance of the `CoverImage` now seems to be on par with the `Image` component 👌

2. `CoverImage` still doesn't show the appropriate cover when `source` prop is changed dynamically. For example, when I jump to the next track the whole screen re-renders with the updated information (title, artist) but not the `CoverImage` component. I've to pop t

[2020-04-14 22:21] Drazail commented on #72
@farshed
2- noted, I was under the impression that when you extend Image, all the default behaviors  gets copied over, which clearly isn't the case.
3- I think it happens to large lists. when thread limitations kick in, some threads seem to get interrupted. will try to fix it asap.

[2020-04-18 03:43] dimbslmh commented on #55
You'd expect "Something get wrong with musicCursor" to go into the catch block, but it doesn't.  So basically for now we need to check if (typeof tracks === 'object') { return tracks } else { return [] }

[2020-04-27 06:07] Drazail commented on #72
@farshed
unfortunately as much as I tried, the coverImage component doesn't seem to work. The logs indicates that the source attribute of the ImageView is being set uppon updating props, but the UI isn't being updated.
meanwhile, As a workaround, I limited the thread being used by this package to 1 and made it so if the song has already been scanned, the operation should take much less time.

if y

[2020-05-12 16:28] SpQuyt commented on #70
Android is normal. But not with iOS

**My environment**
* react-native: 0.62.1
* react: 16.11.0
* react-native-get-music-files: 2.1.0
* Xcode: 10.3

**My error**
![image](https://user-images.githubusercontent.com/17812909/81720087-1ec70f00-94a8-11ea-9fe0-2dcfb429cdb4.png)

[2020-05-15 19:12] Drazail commented on #70
I don't know about iOS part of the module, maybe @cinder92  can help.

[2020-05-30 09:18] shubhamdeol commented on #50
@BlunT76 @Drazail   what was the issue exactly? I am also having the same error.
Please document clearly how can I fix this. I do not get this error when I build from android studio.

[2020-06-05 08:35] Drazail commented on #50
@shubhamdeol

Bump `compileSdkVersion` and `buildToolsVersion` to the latest.

[2020-07-05 18:39] Joshmatjjen commented on #45
I am still getting TypeError: Cannot read property 'getSong' of undefined

[2020-07-05 20:33] Joshmatjjen commented on #45
How did you install it this time

[2020-07-06 04:51] farshed commented on #45
@Joshmatjjen Follow the instructions in the manual linking section. Then, uninstall the app from your device/emulator and rebuild. That should work.

[2020-07-07 23:43] Joshmatjjen commented on #45
@farshed  I have done that..  i am getting an error that says:

null is not an object (evaluating 'RNAndroidStore.getSongByPath')

[2020-07-07 23:43] Joshmatjjen commented on #45
@farshed Only getAll function works well

[2020-07-08 05:06] farshed commented on #45
@Joshmatjjen sorry I have no idea what the problem might be.

[2020-07-08 07:05] Drazail commented on #45
@Joshmatjjen

Are you sure your imports are correct? ( Try 'RNAndroidAudioStore' instaed of 'RNAndroidStore')

 If every thing is done properly, please reproduce the issue and share the code with us.

[2020-07-08 07:59] Hamashassan commented on #69
I am facing this error while running pod install but as mentioned above There is no podspec file inside the path **node_modules/react-native-get-music-files/**, please let me know what to do. Thanks!

[2020-07-08 12:05] Joshmatjjen opened #74 "RNAndroidAudioStore TypeError: Cannot read property 'getSongs' of undefined"
I have being trying to fix this for over close to a week... the import files are showing ... MusicFiles.getAll, work properly but when i try to use RNAndroidAudioStore,  any working function i pass to it is seen has undefined...

[2020-07-08 12:27] Joshmatjjen commented on #74
I installed with:

1. yarn add https://github.com/cinder92/react-native-get-music-files.git --save (Not fixed)
2. yarn add git+https://github.com/Drazail/react-native-get-music-files.git#development (Not fixed)
3. yarn add react-native-get-music-files --save (Not Fixed)

Here is my code:

**Files.js**

`import MusicFiles, { RNAndroidAudioStore } from 'react-native-get-music-files';`

`function get

[2020-07-08 20:36] Joshmatjjen commented on #45
@Drazail  I have created a new Issue

[2020-07-08 22:09] Joshmatjjen commented on #45
Here is the link:
 https://github.com/cinder92/react-native-get-music-files/issues/74

[2020-07-08 23:27] Joshmatjjen commented on #74
I have fixed it.. Thanks

[2020-07-08 23:27] #74 closed, assigned to nobody

[2020-07-28 09:28] PreetOceans commented on #70
TypeError: null is not an object (evaluating 'RNReactNativeGetMusicFiles.getAll') getting this error on android.
add library folder in project because from npm install getting error

[2020-07-29 15:00] farshed opened #78 "Covers are null on React Native 0.63.2"
I'm using RNAndroidAudioStore. It was working perfectly with 0.62.1. I just created a fresh project with 0.63.2 and transferred all the source code and now covers are null.

[code]

[2020-08-09 08:52] Drazail commented on #78
@farshed

react-native 0.63 introduced some breaking changes and bugs, Im working on porting the project to 0.63 asap.

[2020-08-12 06:59] kaneki666 opened #79 "ackage android.support.annotation does not exist"
Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.2/userguide/command_line_interface.html#sec:command_line_warnings
65 actionable tasks: 12 executed, 53 up-to-date
E:\Programming\javascript\react-native\Kaze\node_modules\react-native-get-music-files\android\

[2020-08-12 07:34] #79 closed, assigned to nobody

[2020-08-12 07:35] kaneki666 commented on #79
i turned off jetifier so i see this error

[2020-08-12 08:11] kaneki666 opened #80 "Something get wrong with musicCursor"
RNAndroidAudioStore.getAll({
         title: true,
	artist: true,
	album: true,
	duration: true,
	cover: true,
	blured: false,

});

i am using physical device and i have music files in it! any help would be appreciated! Thank you

[2020-08-13 14:44] Sajfan commented on #69
Good job @therealsuji 👍  This worked for me...

[2020-08-17 17:29] Arwik228 opened #81 "TypeError: null is not an object (evaluating 'RNReactNativeGetMusicFiles.getAll')"
![image](https://user-images.githubusercontent.com/42431675/90425152-bc019700-e0d8-11ea-83d7-222a688f4c36.png)
![image](https://user-images.githubusercontent.com/42431675/90425194-ce7bd080-e0d8-11ea-9d3a-1dd91efb6617.png)
![image](https://user-images.githubusercontent.com/42431675/90425324-fff49c00-e0d8-11ea-9f5c-05f22cca28c1.png)

[2020-08-22 14:58] diegoareval commented on #47
@yusuf987 could show me the build.gradle code and myapplication code, because i got the same error

[2020-08-30 05:07] Heru6664 commented on #58
any updates? I got exactly the same issue

[2020-09-16 12:40] Drazail commented on #80
@kaneki666
files are not added to the android DataBase, so you either recently added them, or they are located in a nomedia folder

[2020-09-23 13:01] kaneki666 commented on #78
any update on it?

[2020-09-25 12:33] Drazail commented on #78
@kaneki666 @farshed

You can use v3-dev-patch1 of my fork, it should be resolved there.

[2020-09-26 11:01] kaneki666 commented on #78
Working like a charm! thank you bro @Drazail

[2020-09-27 12:45] kaneki666 commented on #78
brother i am having a prb when i use the cover folder it doesn't save the extension of image so i cant read it,,  function getAll() {
    MusicFiles.getAll({
      cover: true,
      coverFolder: '/storage/emulated/0/Download/',
      batchSize: 0,
      batchNumber: 0,
      sortBy: Constants.SortBy.Title,
      sortOrder: Constants.SortOrder.Ascending,
    })
      .then((f) => {
        setData

[2020-09-27 18:55] Drazail commented on #78
@kaneki666

I don't think inclusion of an extension is required to display an image ( or opening any file for that matter). can you post the error log you get when passing the path provided by `getAll` to the `Image` component?

`coverImage` component, it is meant to extract the embedded artwork directly from a media file into a `byte[]` inside the ram and display it, the `source` prop should poin

[2020-10-13 18:39] JrajsinhZala opened #86 "assetUrl key not in track response"
i am a using this library for get music list and it's working file but i am not getting asseUrl(path) in ios
i pass this option
{
        id: true,
        blured: true,
        artist: true,
        duration: true,
        cover: true,
        genre: true,
        title: true,
        fields : ['title','albumTitle','genre','lyrics','artwork','duration'] // for iOs Versio
      }

[2020-11-08 12:03] ShumGG opened #87 "followed all steps, but when opening the app in device in crashed, but in emulator works"

[2020-11-08 15:09] ShumGG opened #88 "app in device automatically closes when using method MusicFiles.getAll"

[2020-11-08 17:22] ShumGG commented on #16
@cinder92 its been two years , but dont know if you would help me, im facing right now this issue, I already gave permissions and when I run the method, the app crashes in my device, hope you answer to me

[2020-11-09 16:36] mitalpatel5944 commented on #16
same problem

same issue in my phone

[2020-11-09 18:34] ShumGG commented on #16
@mitalpatel5944 this doesnt work in android 10, tried in a emulator with android 10 and it crash just like in my device

[2020-11-09 23:39] ShumGG commented on #72
So this works right now for android 10?

[2020-11-10 04:38] ShumGG commented on #72
@Drazail can i download react-native-get-music-files-v3dev-test and use it in my project?

[2020-11-17 17:45] Drazail commented on #72
as long as you only target android, it should work fine.

[2020-11-19 08:42] Drazail commented on #88
@ShumGG

please share some logs ;)

[2020-11-21 16:01] ShumGG opened #89 "added cover: true but not getting the cover in the version for android X"

[2020-12-01 07:55] ajoykarmakar commented on #88
I have same issue, here is my log -

[code]

[2020-12-01 08:22] ajoykarmakar opened #90 "App getting crashed"
Here is my log -

[code]

[2020-12-01 09:46] ajoykarmakar opened #91 "error [Error: 404: Either the cursor is null or there are no results for this query]"
error [Error: 404: Either the cursor is null or there are no results for this query]. Got this error on android 10+ only.

![image](https://user-images.githubusercontent.com/32778214/100723657-0be63e80-33e8-11eb-9cc7-7a50f146ac30.png)

Packages -
    "react": "16.13.1",
    "react-native": "0.63.2",

[2020-12-02 18:36] ajoykarmakar commented on #72
In android 10 not working anymore.

[2020-12-02 23:13] ShumGG commented on #72
@ajoykarmakar, I'm using it and it works

[2020-12-03 07:09] ajoykarmakar commented on #72
Play store now require atleast  29  compileSdkVersion. Before 28 also works for mine also.
Please try this one, and let me know is it working for you or not.

android/build.gradle
[code]

[2020-12-13 11:25] CuiBenyong commented on #90
same issue, any idea?

[2020-12-21 04:03] lancer1993 commented on #16
@cinder92 ,  I am trying to use this library but I got this exception,

2020-12-21 09:30:21.130 5257-5562/com.finalmusicapp E/AndroidRuntime: FATAL EXCEPTION: asyncTask
    Process: com.finalmusicapp, PID: 5257
    java.lang.IllegalArgumentException: Invalid column *
        at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:170)
        at android.database.DatabaseUtils.

[2020-12-21 11:11] ShumGG commented on #16
I also had this problem, if i remember correctly it has something to do when fetching the songs, routes problem

[2021-01-11 21:23] anhphung97 commented on #70
Anyone knows how to fix this? Having this problem in iOS as well. cc: @cinder92

[2021-01-13 09:45] baby3301 commented on #69
node_modules/react-native-get-music-files/ios/

[2021-01-21 12:56] amau808 commented on #70
Is there a solution ? I'm facing the same issue on ios (using the simulator).

I didn't follow the installation instructions because, if I modify the Xcode project, it doesn't compile anymore

[2021-02-06 06:25] NautamSanghani commented on #86
hey @JrajsinhZala have you found any solutions ??

[2021-02-09 14:39] JrajsinhZala commented on #86
No i can't

On Sat, 6 Feb, 2021, 11:56 am NautamSanghani, <notifications@github.com>
wrote:

[2021-02-12 13:13] MaxJadav commented on #70
Fetch same error iOS Any update on this? Is there a solution ?
_TypeError: null is not an object (evaluating 'RNReactNativeGetMusicFiles.getAll')_

[2021-03-17 07:32] ghost commented on #16
same error did someone fix it?

[2021-04-21 08:09] pluvd7j commented on #79
$ npm i jetifier
$ npx jetify
install these two commands and add the below line in your gradle.properties
android.useAndroidX=true
android.enableJetifier=true

and set the minSdkversion as 17 in android--->build.gradle (Minimum version 17  you can also use higher)

[2021-05-25 11:51] uit2712 commented on #90
I found a solution for this: go to file 'android/src/main/java/com/cinder92/musicfiles/RNReactNativeGetMusicFilesModule.java'. Then
Change
Cursor musicCursor = musicResolver.query(musicUri, STAR, selection, null, sortOrder);
To
Cursor musicCursor = musicResolver.query(musicUri, null, selection, null, sortOrder);

[2021-11-12 13:49] codal-mpawar commented on #26
@cinder92 @yyrdl I am still facing an issue on the iOS platform let me know the solution is urgent.
I am using your latest version.

[2022-01-07 06:31] Furqan02 commented on #16
same problem

[2022-01-07 22:11] Furqan02 opened #100 "App crashes when using function of this package REACT NATIVE"
MusicFiles.getAll({
        id : true,
        blured : false,
        artist : true,
        duration : true, //default : true
        cover : true, //default : true,
        title : true,
        cover : true,
        batchNumber : 5, //get 5 songs per batch
        minimumSongDuration : 10000, //in miliseconds,
        fields : ['title','artwork','duration','artist','genre','lyrics','albumTitle

[2022-02-18 17:46] seyicoded commented on #16
Any fix yet !!?

[2022-03-16 17:38] Subiyel commented on #58
Same issue. I guess this package doesn't works for iOS.

[2022-03-23 12:10] shivamgopchade commented on #100
I am getting this error while I am trying to use getAll() function.Any idea??

null is not an object (evaluating 'RNReactNativeGetMusicFiles.getAll')
at node_modules\react-native\node_modules\promise\setimmediate\core.js:45:6 in tryCallTwo
at node_modules\react-native\node_modules\promise\setimmediate\core.js:200:22 in doResolve
at node_modules\react-native\node_modules\promise\setimmediate\core.j

[2022-04-10 06:07] thoosi-raja commented on #57
@Drazail * What went wrong:
A problem occurred evaluating project ':react-native-get-music-files'.

I am getting this error when trying to run the app just after installing the package

[2022-05-08 12:00] vitaliyirtlach opened #103 "Add TypeScript definitions"

[2022-05-09 06:56] Drazail commented on #57
@thoosi-raja `compile` has been deprecated for a while now. use `implementation` instead.

I will take a look into this repo and will try to migrate it to newer versions of `gradle`, `maven` and `react-native`.

[2022-06-21 02:49] 13627491210 commented on #100
How did you solve it？ please tell me ,thanks

[2022-06-21 03:05] shivamgopchade commented on #100
I searched a lot on the issue but got no clue over that. So decided to use another lib <break/>
https://docs.expo.dev/versions/latest/sdk/media-library/
You may refer this...

[2022-06-21 03:22] 13627491210 commented on #90
It works for me, thanks

[2022-06-22 07:06] cinder92 commented on #103
Closing due to no description.

[2022-06-22 07:06] #103 closed, assigned to nobody

[2022-06-22 07:07] cinder92 commented on #91
@ajoykarmakar Did you request permissions to read files?

[2022-06-22 07:07] #89 closed, assigned to nobody

[2022-08-31 08:35] CollinsRollinsDev commented on #90
Wow!! this is what works for me! Thanks a lot for this.

[2022-11-14 16:11] vijaygojiya commented on #89
@ShumGG  i am facing same issue did you get any solutions please let know ?